@model BloodDonation.Models.RequestPersonnel

@{
    ViewBag.Title = "AcceptRequestView";
}

<html lang="en" dir="ltr">
<head>
    <title>Accept request</title>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Styles/layout_personel_add_blood.css")
    @Styles.Render("~/Styles/mediaqueries.css")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1><a href="#">Separate components</a></h1>
                <h2><a href="#">Donation center personnel</a></h2>
            </div>
            @Html.Partial("NavigationBannerView", null)
        </header>
    </div>
    <div class="wrapper row3">
        <div class="container">
            <h1> Do you wish to accept the following blood request? </h1>

            <div class="row">
                <div class="col-25">
                    <label for="fname">ID</label>

                </div>
                <div class="col-75">
                    @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @readonly = "readonly" } })
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="fname">Status</label>

                </div>
                <div class="col-75">
                    @Html.EditorFor(model => model.status, new { htmlAttributes = new { @readonly = "readonly" } })
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="fname">Hospital name</label>

                </div>
                <div class="col-75">
                    @Html.EditorFor(model => model.hospitalName, new { htmlAttributes = new { @readonly = "readonly" } })
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="fname">Hospital location</label>

                </div>
                <div class="col-75">
                    @Html.EditorFor(model => model.hospitalLocation, new { htmlAttributes = new { @readonly = "readonly" } })
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="fname">Quantity</label>

                </div>
                <div class="col-75">
                    @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @readonly = "readonly" } })
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="fname">Blood group type</label>

                </div>
                <div class="col-75">
                    @Html.EditorFor(model => model.bloodType.Group, new { htmlAttributes = new { @readonly = "readonly" } })
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="fname">Blood RH</label>

                </div>
                <div class="col-75">
                    @Html.EditorFor(model => model.bloodType.RH, new { htmlAttributes = new { @readonly = "readonly" } })
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <center>
                    @{
                    var reqID = Model.ID;

                    }
                    @Html.ActionLink("Confirm","ConfirmAcceptRequest", "Personnel", new { id = @reqID },null)
                </center>
            </div>

        </div>
    </div>
    <!-- Footer -->
    <div class="wrapper row4">
        <footer id="footer" class="clear">
            <p class="fl_left">Copyright &copy; 2013 - All Rights Reserved - <a href="#">Domain Name</a></p>
        </footer>
    </div>
</body>
</html>



