@model BloodDonation.Models.DonationModel

@{
    ViewBag.Title = "AddDonationView";
}


<html lang="en" dir="ltr">
<head>
    <title>Add donation</title>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Styles/layout_personel_add_blood.css")
    @Styles.Render("~/Styles/mediaqueries.css")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1><a href="#">Add blood</a></h1>
                <h2><a href="#">Donation center personnel</a></h2>
            </div>
            @Html.Partial("NavigationBannerView", null)
        </header>
    </div>

    <div class="wrapper row3">
        <div class="container">
            @using (Html.BeginForm("AddDonationInDb", "Personnel", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                <div class="row">
                    <div class="col-25">
                        <label for="fname">Blood Group</label>
                    </div>

                    <div>
                        @Html.RadioButtonFor(model => model.BloodTypeGroup, "A", new { id = "A" })
                        @Html.Label("A", "A")

                        @Html.RadioButtonFor(model => model.BloodTypeGroup, "AB", new { id = "AB" })
                        @Html.Label("AB", "AB")
                    </div>
                    <div>
                        @Html.RadioButtonFor(model => model.BloodTypeGroup,"B", new { id = "B" })
                        @Html.Label("B", "B")
                        @Html.RadioButtonFor(model => model.BloodTypeGroup,"O", new { id = "O" })
                        @Html.Label("O", "O")
                    </div>

                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="fname">PH Type</label>
                    </div>

                    <div>
                        @Html.RadioButtonFor(model => model.BloodTypePH, "Positive", new { id = "positive" })
                        @Html.Label("positive", "Positive")
                    </div>
                    <div>
                        @Html.RadioButtonFor(model => model.BloodTypePH, "Negative", new { id = "negative" })
                        @Html.Label("negative", "Negative")
                    </div>


                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="fname">Donor Id</label>
                    </div>
                    <div class="col-75">
                        @Html.TextBoxFor(model => model.DonorId, new { @required = "required", placeholder = "Donor id..." })
                    </div>
                </div>


                <div class="row">
                    <div class="col-25">
                        <label for="fname">Quantity (in #bags)</label>
                    </div>
                    <div class="col-75">
                        @Html.TextBoxFor(model => model.Quantity, new { @required = "required", placeholder = "# bags" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="lname">For who is the donation (leave empty if N/A)</label>
                    </div>
                    <div class="col-75">
                        @Html.TextBoxFor(model => model.Cnp, new { placeholder = "CNP..." })
                    </div>
                </div>


                <div class="row">
                    <input type="submit" value="Add donation">
                </div>
            }

        </div>
    </div>
    <!-- Footer -->
    <div class="wrapper row4">
        <footer id="footer" class="clear">
            <p class="fl_left">Copyright &copy; 2013 - All Rights Reserved - <a href="#">Domain Name</a></p>
        </footer>
    </div>
</body>
</html>

