@model BloodDonation.Models.DonationModel

@{
    ViewBag.Title = "EditDonationSeparation";
}

<html lang="en" dir="ltr">
<head>
    <title>Edit Donation - Personnel</title>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    @Styles.Render("~/Styles/style.css")
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js">
    </script>
</head>
<body>
<div id="header">
    <div class="container">
        <div class="row">
            <div id="hgroup" class="col-sm-8 ml-4">
                <div class="row">
                    <a href="#" id="page-title">Edit Donation</a>
                </div>
                <div class="row">
                    <a href="#" id="page-owner">PERSONNEL</a>
                </div>
            </div>
            <form action="login.html" method="post" class="col-sm-1 offset-sm-2">
                @Html.ActionLink("Log Out", "LogOut", "Login", null, new {@class = "btn auth-button"})
            </form>
        </div>
        <nav class="navbar navbar-expand-sm">
            <ul class="navbar-nav">
                <li>@Html.ActionLink("ADD DONATION", "AddDonation", "Personnel", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("SEPARATE COMPONENTS", "SeparateComponents", "Personnel", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("LAB RESULTS", "LabResults", "Personnel", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("ACCOUNT SETTINGS", "PersonalDetails", "Personnel", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("PENDING REQUESTS", "PendingRequests", "Personnel", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("ACCEPTED REQUESTS", "AcceptedRequests", "Personnel", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("VIEW STORED BLOOD", "ViewStoredBlood", "Personnel", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("VIEW BOOKED DONATIONS", "SeeBookings", "Personnel", null, new { @class = "nav-link" })</li>
            </ul>
        </nav>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-header">
            Edit Donation:
        </div>
        <div class="card-body">
            @using (Html.BeginForm("SeparateComponentsToDB", "Personnel", FormMethod.Post))
            {
                
                @Html.ValidationSummary(true)
                //TODO: add a measuring unit to all components

                <div class="form-group">
                    <label>Donation ID</label>
                    @Html.EditorFor(model => model.ID, new {htmlAttributes = new {@readonly = "readonly", @class = "form-control"}})
                </div>

                <div class="form-group">
                    <label>Red Blood Cells</label>
                    @Html.TextBoxFor(model => model.RBC, new {@required = "required", placeholder = "RBC", @class = "form-control"})
                </div>

                <div class="form-group">
                    <label>Plasma</label>
                    @Html.TextBoxFor(model => model.Plasma, new {@required = "required", placeholder = "Plasma", @class = "form-control"})
                </div>

                <div class="form-group">
                    <label>Thrombocytes</label>
                    @Html.TextBoxFor(model => model.Thrombocytes, new {@required = "required", placeholder = "Thrombocytes", @class = "form-control"})
                </div>

                <input type="submit" value="Save" class="btn btn-success">
            }
        </div>
    </div>
</div>

<div class="footer fixed-bottom text-center">
    © 2018 Copyright: Vitamine
</div>

</body>
</html>