@model BloodDonation.Models.DonationModel

@{
    ViewBag.Title = "EditDonationLabView";
}

<html lang="en" dir="ltr">
<head>
    <title>Lab results</title>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Styles/layout_personel_add_blood.css")
    @Styles.Render("~/Styles/mediaqueries.css")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1><a href="#">Lab results</a></h1>
                <h2><a href="#">Donation center personnel</a></h2>
            </div>
            @Html.Partial("NavigationBannerView", null)
        </header>
    </div>
    <div class="wrapper row3">
        <div class="container">
            @using (Html.BeginForm("LabResultsToDB", "Personnel", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                <div class="row">
                    <div class="col-25">
                        <label for="fname">Donation ID</label>

                    </div>
                    <div class="col-75">
                        @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @readonly = "readonly" } })
                    </div>
                </div>


                if (Model.BloodTypeGroup.IsEmpty())
                {
                    <div class="row">
                        <div class="col-25">
                            <label for="fname">Blood Group</label>
                        </div>

                        <div>
                            @Html.RadioButtonFor(model => model.BloodTypeGroup, "A", new { id = "A" ,required="required"})
                            @Html.Label("A", "A")

                            @Html.RadioButtonFor(model => model.BloodTypeGroup, "AB", new { id = "AB" })
                            @Html.Label("AB", "AB")
                        </div>
                        <div>
                            @Html.RadioButtonFor(model => model.BloodTypeGroup, new { id = "B" })
                            @Html.Label("B", "B")
                            @Html.RadioButtonFor(model => model.BloodTypeGroup, new { id = "O" })
                            @Html.Label("O", "O")
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-25">
                            <label for="fname">RH Type</label>
                        </div>

                        <div>
                            @Html.RadioButtonFor(model => model.BloodTypeRH, "Positive", new { id = "positive", required = "required" })
                            @Html.Label("positive", "Positive")
                        </div>
                        <div>
                            @Html.RadioButtonFor(model => model.BloodTypeRH, "Negative", new { id = "negative" })
                            @Html.Label("negative", "Negative")
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-25">
                            <label for="fname">Blood type group</label>

                        </div>
                        <div class="col-75">
                            @Html.EditorFor(model => model.BloodTypeGroup, new { htmlAttributes = new { @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="fname">Blood type Rh</label>

                        </div>
                        <div class="col-75">
                            @Html.EditorFor(model => model.BloodTypeRH, new { htmlAttributes = new { @readonly = "readonly" } })
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="col-25">
                        <label for="fname">HIV / AID</label>

                    </div>
                    <div class="col-75">
                        @Html.CheckBoxFor(x => x.Hiv, new { })
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="fname">Hepatitis B</label>

                    </div>
                    <div class="col-75">
                        @Html.CheckBoxFor(x => x.HepatitisB, new { })
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="fname">Hepatitis C</label>

                    </div>
                    <div class="col-75">
                        @Html.CheckBoxFor(x => x.HepatitisC, new { })
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="fname">Syphilis</label>

                    </div>
                    <div class="col-75">
                        @Html.CheckBoxFor(x => x.Syphilis, new { })
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="fname">HTLV</label>

                    </div>
                    <div class="col-75">
                        @Html.CheckBoxFor(x => x.Htlv, new { })
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="fname">ALT</label>

                    </div>
                    <div class="col-75">
                        @Html.CheckBoxFor(x => x.Alt, new { })
                    </div>
                </div>



                <div class="row">
                    <input type="submit" value="Edit donation">
                </div>
            }

        </div>
    </div>
    <!-- Footer -->
    <div class="wrapper row4">
        <footer id="footer" class="clear">
            <p class="fl_left">Copyright &copy; 2013 - All Rights Reserved - <a href="#">Domain Name</a></p>
        </footer>
    </div>
</body>
</html>



