@model BloodDonation.Models.DonationListModel

@{
    ViewBag.Title = "LabResultsVie";
}



<html lang="en" dir="ltr">
<head>
    <title>Lab results</title>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Styles/layout_personel_add_blood.css")
    @Styles.Render("~/Styles/mediaqueries.css")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>
<body>

    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1><a href="#">Lab results</a></h1>
                <h2><a href="#">Donation center personnel</a></h2>
            </div>
            @Html.Partial("NavigationBannerView", null)
        </header>
    </div>



    @*TODO: make the top of the table aligned to left for each of the column, somehow*@
    <div class="wrapper row3">
        <div class="container">
            <table style="width:100%">
                <tr>
                    <th>ID</th>
                    <th>Doner NIN (National identification number)</th>
                    <th>Quantity</th>
                    <th>Stage</th>
                </tr>
                @foreach (var req in Model.Donations)
                {
                    <div hidden="hidden">
                        @Html.BeginForm("EditDonationLab", "Personnel", req, FormMethod.Post){
                    </div>
                    <tr>
                        <td>@req.ID</td>
                        <td>@req.DonorId</td>
                        <td>@req.Quantity</td>
                        <td>@req.Stage</td>
                        <td>
                            <div class="row">

                                <input type="submit" value="Edit">
                            </div>
                        </td>
                    </tr>
                    <div hidden="hidden">
                        }
                    </div>
                }

            </table>
        </div>
    </div>
    <!-- Footer -->
    <div class="wrapper row4">
        <footer id="footer" class="clear">
            <p class="fl_left">Copyright &copy; 2013 - All Rights Reserved - <a href="#">Domain Name</a></p>
        </footer>
    </div>
</body>
</html>



