@model BloodDonation.Models.Personnel

@{
    ViewBag.Title = "PersonalDetailsView";
}

<html lang="en" dir="ltr">
<head>
    <title>Account settings</title>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    @Styles.Render("~/Styles/style.css")
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js">
    </script>
</head>
<body>

<div id="header">
    <div class="container">
        <div class="row">
            <div id="hgroup" class="col-sm-8 ml-4">
                <div class="row">
                    <a href="#" id="page-title">Account Settings</a>
                </div>
                <div class="row">
                    <a href="#" id="page-owner">PERSONNEL</a>
                </div>
            </div>
            <form action="login.html" method="post" class="col-sm-1 offset-sm-2">
                @Html.ActionLink("Log Out", "LogOut", "Login", null, new {@class = "btn auth-button"})
            </form>
        </div>
        <nav class="navbar navbar-expand-sm">
            <ul class="navbar-nav">
                <li>@Html.ActionLink("ADD DONATION", "AddDonation", "Personnel", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("SEPARATE COMPONENTS", "SeparateComponents", "Personnel", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("LAB RESULTS", "LabResults", "Personnel", null, new { @class = "nav-link" })</li>
                <li class="nav-item current">
                    <a href="#" class="nav-link">ACCOUNT SETTINGS</a>
                </li>
                <li>@Html.ActionLink("PENDING REQUESTS", "PendingRequests", "Personnel", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("ACCEPTED REQUESTS", "AcceptedRequests", "Personnel", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("VIEW STORED BLOOD", "ViewStoredBlood", "Personnel", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("VIEW BOOKED DONATIONS", "SeeBookings", "Personnel", null, new { @class = "nav-link" })</li>
            </ul>
        </nav>
    </div>
</div>

<div class="container">
    <div class="card mb-3">
        <div class="card-header">
            Personal Details:
        </div>
        <div class="card-body">
            @using (Html.BeginForm("UpdatePersonnel", "Personnel", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                @Html.Hidden("ID", Model.ID)
                ;

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label>First Name</label>
                        </div>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.firstName, new {placeholder = Model.firstName, @class = "form-control"})
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label>Last Name</label>
                        </div>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.lastName, new {placeholder = Model.lastName, @class = "form-control"})
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label>Email</label>
                        </div>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.emailAddress, new {placeholder = Model.emailAddress, @class = "form-control"})
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label>Date of Birth</label>
                        </div>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.DOB, new {@Value = Model.DOB.ToShortDateString(), @class = "form-control"})
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label>Country</label>
                        </div>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.Country, new {placeholder = Model.Country, @class = "form-control"})
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label>City</label>
                        </div>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.CityTown, new {placeholder = Model.CityTown, @class = "form-control"})
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label>Address</label>
                        </div>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.Address, new {placeholder = Model.Address, @class = "form-control"})
                        </div>
                    </div>
                </div>

                <input type="submit" value="Save" class="btn btn-success">
            }
        </div>
    </div>
</div>

<div class="footer fixed-bottom text-center">
    © 2018 Copyright: Vitamine
</div>

</body>
</html>