@model BloodDonation.Models.DonationSepModel

@{
    ViewBag.Title = "SeparateComponentsView";
}


<html lang="en" dir="ltr">
<head>
    <title>Separate components</title>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Styles/layout_personel_add_blood.css")
    @Styles.Render("~/Styles/mediaqueries.css")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>
<body>

    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1><a href="#">Separate components</a></h1>
                <h2><a href="#">Donation center personnel</a></h2>
            </div>
            @Html.Partial("NavigationBannerView", null)
        </header>
    </div>



    @*TODO: make the top of the table aligned to left for each of the column, somehow*@
    <div class="wrapper row3">
        <div class="container">
            <h3>Unchecked donations</h3>
            <table style="width:100%">
                <tr>
                    <th>ID</th>
                    <th>Doner NIN (National identification number)</th>
                    <th>Quantity</th>
                </tr>

                @foreach (var req in Model.Donations)
                {
                    using (Html.BeginForm("EditDonationSeparation", "Personnel", req, FormMethod.Post))
                    {
                        <tr>
                            <td>@req.ID</td>
                            <td>@req.DonorId</td>
                            <td>@req.Quantity</td>
                            <td>
                                <div class="row">
                                    <input type="submit" value="Edit">
                                </div>
                            </td>
                        </tr>
                    }
                }


            </table>
        </div>
    </div>

    <div class="wrapper row3">
        <div class="container">
            <h3>Stored whole blood</h3>
            <table style="width:100%">
                <tr>
                    <th>ID</th>
                    <th>Blood group</th>
                    <th>Blood RH</th>
                    <th>Collection date</th>
                    <th>Amount</th>
                </tr>

                @foreach (var req in Model.StoredBlood)
                {
                    using (Html.BeginForm("EditBloodSeparation", "Personnel", req, FormMethod.Post))
                    { 
                        <tr>
                            <td>@req.ID</td>
                            <td>@req.BloodTypeGroup</td>
                            <td>@req.BloodTypeRH</td>
                            <td>@req.CollectionDate</td>
                            <td>@req.Amount</td>
                            <td>
                                <div class="row">
                                    <input type="submit" value="Edit">
                                </div>
                            </td>
                        </tr>
                    }
                }


            </table>
        </div>
    </div>
    <!-- Footer -->
    <div class="wrapper row4">
        <footer id="footer" class="clear">
            <p class="fl_left">Copyright &copy; 2013 - All Rights Reserved - <a href="#">Domain Name</a></p>
        </footer>
    </div>
</body>
</html>

