@model BloodDonation.Models.DonationModel

@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Donation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <div class="" col-md-offset-2 col-md-10">
                @Html.TextBoxFor(model => model.DonorId, new { @required = "required", placeholder = "Donor id..." })
            </div>

            <div class="" col-md-offset-2 col-md-10">
                @Html.TextBoxFor(model => model.Cnp, new { @required = "required", placeholder = "cnp..." })
            </div>

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
