@model BloodDonation.Models.ManageRequestsModel

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Approve requests - master</title>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Styles/layout_doctor_my_requests.css");
    @Styles.Render("~/Styles/mediaqueries.css");
    <script src="scripts/jquery.1.9.0.min.js"></script>
    <script src="scripts/jquery-mobilemenu.min.js"></script>
</head>
<body>

    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1><a href="#">Approve Requests</a></h1>
                <h2><a href="#">Master</a></h2>
            </div>
            <form action="login.html" method="post">
                <input type="submit" class="sf_submit" value="Log out">
            </form>
            <!--<nav>-->
            <!--<ul>-->
            <!--<li><a href="#">Manage requests</a></li>-->
            <!--<li><a href="#">Update accounts</a></li>-->
            <!--</ul>-->
            <!--</nav>-->
        </header>
    </div>
    <!-- content -->

    <div class="wrapper row3">
        <div class="row">
            <!--<div class="col-25">-->
            <!--<label>Sort by:</label>-->
            <!--</div>-->
            <!--<form action="">-->
            <!--<br>-->
            <!--<input id="doctor" type="radio" name="doctor" value="type"> Doctor -->
            <!--<input id="personnel" type="radio" name="personnel" value="type"> Personnel -->
            <!---->
            <!--</form>-->
            <!--</div>-->
            <div class="container">
                <form action="#">
                    <table style="width:100%">
                        <tr>
                            <th>ID</th>
                            <th>Full Name</th>
                            <th>Mail</th>
                            <th>Hospital</th>
                            <th>Request Type </th>
                            <th>Approve/Decline</th>
                        </tr>
                        <!-- Add informations in table -->
                        <tr>
                            <td>1</td>
                            <td>Popescu Marta</td>
                            <td>martap@cjHospital.com</td>
                            <td>Cluj-Napoca A</td>
                            <td>Doctor</td>

                            <td>
                                <button> Approve</button>
                                <button> Decline</button>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Grigorescu Mihail</td>
                            <td>mihailGrig@docts.com</td>
                            <td>Cluj-Napoca B</td>
                            <td>Doctor</td>
                            <td>
                                <button> Approve</button>
                                <button> Decline</button>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Mihailescu Ounicea</td>
                            <td>ouniceaMih@doctorlife.com</td>
                            <td>Cluj-Napoca C</td>
                            <td>Doctor</td>
                            <td>
                                <button> Approve</button>
                                <button> Decline</button>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Stirbu Claudia</td>
                            <td>claudiaStb@docts.com</td>
                            <td>Cluj-Napoca D</td>
                            <td>Doctor</td>
                            <td>
                                <button> Approve</button>
                                <button> Decline</button>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Mititelu Maria</td>
                            <td>smecheraMititelu@personnel.com</td>
                            <td>Cluj-Napoca D</td>
                            <td>Personnel</td>
                            <td>
                                <button> Approve</button>
                                <button> Decline</button>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Ohrenciuc Daniela</td>
                            <td>ohreee@personnel.com</td>
                            <td>Cluj-Napoca D</td>
                            <td>Personnel</td>
                            <td>
                                <button> Approve</button>
                                <button> Decline</button>
                            </td>
                        </tr>

                        @foreach (var req in Model.GetDoctorAccountRequests())
                        {
                           <tr>
                                <td>@req.ID</td>
                                <td>@req.FirstName + @req.LastName</td>
                                <td>@req.EmailAddress</td>
                                <td>@req.HospitalName</td>
                                <td>@req.RequestType</td>
                                <td>
                                    <button> Approve</button>
                                    <button> Decline</button>
                                </td>
                            </tr>
                         }

                    </table>
                </form>
            </div>
        </div>
        <!-- Footer -->
        <div class="wrapper row4">
            <footer id="footer" class="clear">
                <p class="fl_left">Copyright &copy; 2013 - All Rights Reserved - <a href="#">Domain Name</a></p>
            </footer>
        </div></div>
</body>
</html>

