@model BloodDonation.Models.ManageAccountsModel

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Approve Personnel Requests - Admin</title>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Styles/layout_admin_requests.css")
    @Styles.Render("~/Styles/mediaqueries.css")
    <script src="scripts/jquery.1.9.0.min.js"></script>
    <script src="scripts/jquery-mobilemenu.min.js"></script>
</head>
<body>

    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1><a href="#">Manage Doctors</a></h1>
                <h2><a href="#">Admin</a></h2>
            </div>
            <form action="login.html" method="post">
                <input type="submit" class="sf_submit" value="Log out">
            </form>
            <nav>
                <ul>
                    <li>@Html.ActionLink("Requests - Doctor", "GetDoctorAccountRequestsPage", "Admin", null, new { @class = "header nav li" })</li>
                    <li>@Html.ActionLink("Requests - Donation Center Personnel", "GetPersonnelAccountRequestsPage", "Admin", null, new { @class = "header nav li" })</li>
                    <li>@Html.ActionLink("Doctors", "GetDoctorsPage", "Admin", null, new { @class = "header nav li" })</li>
                    <li>@Html.ActionLink("Donation Center Personnel", "GetPersonnelPage", "Admin", null, new { @class = "header nav li" })</li>
                    <li>@Html.ActionLink("Hospitals", "GetHospitalsPage", "Admin", null, new { @class = "header nav li" })</li>
                    <li>@Html.ActionLink("Donation Centers", "GetDonationCentersPage", "Admin", null, new { @class = "header nav li" })</li>
                    <li>@Html.ActionLink("Create Admin Account", "GetCreateAdminPage", "Admin", null, new { @class = "header nav li" })</li>
                    <li>@Html.ActionLink("Personal Data", "GetPersonalDataPage", "Admin", null, new { @class = "header nav li" })</li>
                </ul>
            </nav>
        </header>
    </div>
    <!-- content -->

    <div class="wrapper row3">
        <div class="row">
            <div class="container">
                <form action="#">
                    <table style="width:100%">
                        <tr>
                            <th>ID</th>
                            <th>Full Name</th>
                            <th>Mail</th>
                            <th>Hospital</th>
                            <th>Action</th>
                        </tr>
                        <!-- Add informations in table -->

                        @foreach (var req in Model.GetDoctorAccounts())
                        {
                            <tr>
                                <td>@req.ID</td>
                                <td>@req.FirstName @req.LastName</td>
                                <td>@req.EmailAddress</td>
                                <td>@req.HospitalName</td>
                                <td>
                                    <button> Edit</button>
                                    <button> Delete</button>
                                </td>
                            </tr>
                        }

                    </table>
                </form>
            </div>
        </div>

    </div>

        <!-- Footer -->
        <div class="wrapper row4">
            <footer id="footer" class="clear">
                <p class="fl_left">Copyright &copy; 2013 - All Rights Reserved - <a href="#">Domain Name</a></p>
            </footer>
        </div>
</body>
</html>


