@using BloodDonation.Models;
@model  List<RequestPersonnel>
@{
    ViewBag.Title = "DoctorShowRequestsView";
}


<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Doctor - Show Requests</title>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Styles/layout_admin_requests.css")
    @Styles.Render("~/Styles/mediaqueries.css")
    <script src="scripts/jquery.1.9.0.min.js"></script>
    <script src="scripts/jquery-mobilemenu.min.js"></script>
</head>
<body>

    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1><a href="#">Showing Your Blood Requests</a></h1>
                <h2><a href="#">Doctor</a></h2>
            </div>
            <form action="login.html" method="post">
                @Html.ActionLink("Log Out", "LogOut", "Login", null, new { @class = "sf_submit" })
            </form>
            <nav>
                <ul>
                    <li>@Html.ActionLink("Make Blood Request", "GetMakeBloodRequest", "Doctor", null, new { @class = "header nav li" })</li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="indexPage" style="width:75%;margin:auto;padding-top:20px">
        <h1> Requests in progess:</h1>
                <table style="width:80%; margin:auto; text-align: center">
                    <tr>
                        <th>Patient Cnp</th>
                        <th>Hospital</th>
                        <th>Blood </th>
                        <th>Status</th>
                        <th>Donnation Center</th>
                        <th>Delete</th>
                    </tr>
                    @foreach (var req in Model)
                    {
                    <tr>
                        <td>@req.patientCnp</td>
                        <td>
                            <p>
                                @req.hospitalName,<br> 
                                @req.hospitalLocation
                            </p>

                        </td>

                        <td>
                            <div>
                                <ul style=" list-style-type: none; padding: 0,10,0,0; text-align:left; ">
                                    <li> Blood Group: @req.bloodType.Group </li>
                                    @if (req.bloodType.PH == true)
                {
                    <li>Blood RH: Positive</li>
}
                                    @if (req.bloodType.PH == false)
                {
                    <li>Blood RH: Negative</li>
}
                                    <li>Blood Quantity:  @req.quantity   </li>

                                </ul>
                            </div>
                        </td>
                        <td>
                            @req.status
                        </td>

                        <td>
                            @if(@req.DonationCenterName != "Request is still pending")
                            {
                            <p>
                                @req.DonationCenterName,<br>
                                @req.DonationCenterLocation
                            </p>
                            }
                            else
                            {
                            <p>
                                @req.DonationCenterName
                            </p>
                            }
                        </td>

                        <td>
                            <input type="button" value="Delete" onclick="location.href='@Url.Action("DeleteRequest", "Doctor", req )'" />
                        </td>

                    </tr>
                    }
                    </table>
    </div>


</body>
</html>
