@using BloodDonation.Models
@model RequestBloodForm
@{
    ViewBag.Title = "MakeRequestView";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Doctor - Show Requests</title>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Styles/layout_admin_requests.css")
    @Styles.Render("~/Styles/mediaqueries.css")
    <script src="scripts/jquery.1.9.0.min.js"></script>
    <script src="scripts/jquery-mobilemenu.min.js"></script>
</head>
<body>

    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1><a href="#">Add Blood Request</a></h1>
                <h2><a href="#">Doctor</a></h2>
            </div>
            <form action="login.html" method="post">
                @Html.ActionLink("Log Out", "LogOut", "Login", null, new { @class = "sf_submit" })
            </form>
            <nav>
                <ul>
                    <li>@Html.ActionLink("Show Blood Requests", "MainDoctorPage", "Doctor", null, new { @class = "header nav li" })</li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="wrapper row3">
        <div class="container">
                @using (Html.BeginForm("CreateRequest", "Doctor", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-25">
                            <label for="patientCnp">Patient Cnp</label>
                        </div>
                        <div class="col-75">
                            
                            @Html.TextBoxFor(model => model.patientCnp, new { @required = "required"})
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="bloodType.Group">Blood Group</label>
                        </div>
                        <div class="col-75">

                            @Html.DropDownListFor(model => model.bloodGroup, 
                                        new SelectList( new [] { "A", "AB", "B", "0" } ),"Select Group")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="bloodType.PH">Blood RH</label>
                        </div>
                        <div class="col-75">
                            @Html.DropDownListFor(model => model.bloodRh, 
                                        new SelectList(new [] { "positive", "negative" }), "Select RH")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="quantity">Quantity</label>
                        </div>
                        <div class="col-75">
                            @Html.TextBoxFor(model => model.quantity, new { @Type = "number", @required = "required" })
                        </div>
                    </div>
                    <div class="row">
                        <input type="submit" value="Send Email">
                    </div>
                 }

        </div>
    </div>
</body>
</html>