@using BloodDonation.Models
@model RequestBloodForm
@{
    ViewBag.Title = "MakeRequestView";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Doctor - Show Requests</title>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    @Styles.Render("~/Styles/style.css")
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js">
    </script>
</head>
<body>

<div id="header">
    <div class="container">
        <div class="row">
            <div id="hgroup" class="col-sm-8 ml-4">
                <div class="row">
                    <a href="#" id="page-title">Make A Blood Request</a>
                </div>
                <div class="row">
                    <a href="#" id="page-owner">DOCTOR</a>
                </div>
            </div>
            <form action="login.html" method="post" class="col-sm-1 offset-sm-2">
                @Html.ActionLink("Log Out", "LogOut", "Login", null, new {@class = "btn auth-button"})
            </form>
        </div>
        <nav class="navbar navbar-expand-sm">
            <ul class="navbar-nav">
                <li class="nav-item">
                    @Html.ActionLink("SHOW BLOOD REQUESTS", "MainDoctorPage", "Doctor", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("SEE DONATIONS FOR PATIENTS", "PatientDonations", "Doctor", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item current">
                    <a href="#" class="nav-link">MAKE BLOOD REQUESTS</a>
                </li>
            </ul>
        </nav>

    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-header">
            Make a blood request:
        </div>
        <div class="card-body">
            @using (Html.BeginForm("CreateRequest", "Doctor", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="patientCnp">Patient CNP</label>
                    @Html.TextBoxFor(model => model.patientCnp, new {@required = "required", @class = "form-control"})
                </div>

                <div class="form-group">
                    <label for="bloodType.Group">Blood Group</label>
                    @Html.DropDownListFor(model => model.bloodGroup, new SelectList(new[] {"A", "AB", "B", "0"}), "Select Group", new {@class = "form-control"})
                </div>

                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    @Html.TextBoxFor(model => model.quantity, new {@required = "required", @class = "form-control"})
                </div>

                <div class="form-group">
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(model => model.bloodRh, "Positive", new {id = "positive", @class = "form-check-input"})
                        @Html.Label("positive", "Positive RH", new {@class = "form-check-label"})
                    </div>
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(model => model.bloodRh, "Negative", new {id = "negative", @class = "form-check-input"})
                        @Html.Label("negative", "Negative RH", new {@class = "form-check-label"})
                    </div>
                </div>

                <div class="form-group">
                    @foreach (var comp in EnumHelper.GetSelectList(typeof(BloodDonation.Utils.Enums.Component)))
                    {
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(model => model.bloodComponent, comp.Text, new {id = comp.ToString(), @class = "form-check-input"})
                            @Html.Label(comp.Value, comp.Text, new {@class = "form-check-label"})
                        </div>
                    }
                </div>

                <div class="form-group">
                    @foreach (var comp in EnumHelper.GetSelectList(typeof(BloodDonation.Utils.Enums.DoctorUrgencyLevel)))
                    {
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(model => model.urgency, comp.Text, new {id = comp.ToString(), @class = "form-check-input"})
                            @Html.Label(comp.Value, comp.Text + " Urgency", new {@class = "form-check-label"})
                        </div>
                    }
                </div>

                <input type="submit" value="Send Request" class="btn btn-success">
            }

        </div>
    </div>
</div>

<div class="footer fixed-bottom text-center">
    © 2018 Copyright: Vitamine
</div>

</body>
</html>