@model BloodDonation.Models.SignUpForm

@{
    ViewBag.Title = "Sign Up";
}

<html lang="en" dir="ltr">
<head>
    <title>Sign up</title>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Styles/layout_change_pass.css");
    @Styles.Render("~/Styles/mediaqueries.css");
    <script src="~/Scripts/jquery.1.9.0.min.js"></script>
    <script src="~/Scripts/jquery-mobilemenu.min.js"></script>
</head>
<body>

    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1><a href="#">Sign up</a></h1>
            </div>
            <form action="login.html" method="post">
                <input type="submit" class="sf_submit" value="Log in">
            </form>
            @Html.ActionLink("Log in", "Index", "Login", null, new { @class = "sf_submit header input" })

        </header>
    </div>
    <!-- content -->
    <div class="wrapper row3">
        <div class="container">
            @using (Html.BeginForm("SignUp", "Login", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-25">
                        <label>Sign up as</label>
                    </div>
                    @Html.RadioButtonFor(model => model.UserType, 0) Admin <br />
                    @Html.RadioButtonFor(model => model.UserType, 1) Donor <br />
                    @Html.RadioButtonFor(model => model.UserType, 2) Doctor <br />
                    @Html.RadioButtonFor(model => model.UserType, 3) Personnel <br />
                </div>
                <p></p>
                <div class="row">
                    <div class="col-25">
                        <label>First Name*</label>
                    </div>
                    <div class="col-75">
                        @Html.TextBoxFor(model => model.FirstName, new {@required = "required"})
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>Last Name*</label>
                    </div>
                    <div class="col-75">
                        @Html.TextBoxFor(model => model.LastName, new { @required = "required" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>Email Address*</label>
                    </div>
                    <div class="col-75">
                        @Html.TextBoxFor(model => model.Email, new { @required = "required" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>Password*</label>
                    </div>
                    <div class="col-75">
                        @Html.PasswordFor(model => model.Password, new { @required = "required" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>Confirm Password*</label>
                    </div>
                    <div class="col-75">
                        @Html.PasswordFor(model => model.Password, new { @required = "required" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>Date of Birth*</label>
                    </div>
                    <div class="col-75">
                        @Html.TextBox("DOB", DateTime.Today, new { @type = "date", @required = "required" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>Address* (as in your ID)</label>
                    </div>
                    <div class="col-75">
                        @Html.TextBoxFor(model => model.Address, new { @required = "required" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>City* (as in your ID)</label>
                    </div>
                    <div class="col-75">
                        @Html.TextBoxFor(model => model.City, new { @required = "required" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>Country* (as in your ID)</label>
                    </div>
                    <div class="col-75">
                        @Html.TextBoxFor(model => model.Country, new { @required = "required" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>Current Address (if differs from ID)</label>
                    </div>
                    <div class="col-75">
                        @Html.TextBoxFor(model => model.OtherAddress)
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>Current City (if differs from ID)</label>
                    </div>
                    <div class="col-75">
                        @Html.TextBoxFor(model => model.OtherCity)
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>Current Country (if differs from ID)</label>
                    </div>
                    <div class="col-75">
                        @Html.TextBoxFor(model => model.OtherCountry)
                    </div>
                </div>

                <div class="row">
                    <input type="submit" value="Submit" />
                </div>
            }
        </div>
    </div>
    <!-- Footer -->
    <div class="wrapper row4">
        <footer id="footer" class="clear">
            <p class="fl_left">Copyright &copy; 2013 - All Rights Reserved - <a href="#">Domain Name</a></p>
        </footer>
    </div>
</body>
</html>