@model BloodDonation.Models.SignUpForm

@{
    ViewBag.Title = "Sign Up";
}

<html lang="en" dir="ltr">
<head>
    <title>Sign up</title>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    @Styles.Render("~/Styles/style.css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="~/Scripts/signUp.js"></script>
</head>
<body>

<div id="header">
    <div class="container">
        <div class="row">
            <div id="hgroup" class="col-sm-8 ml-4">
                <div class="row">
                    @Html.ActionLink("Blood Donation", "Index", "Login",new{id="page-title"})
                </div>
                <div class="row">
                    <a href="#" id="page-owner">SIGN UP</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="card">
        <div class="card-header">Create account</div>
        <div class="card-body">
            @using (Html.BeginForm("SignUp", "Login", FormMethod.Post))
            {
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Sign up as</label>
                    <div class="col-sm-9">
                        <div class="form-check-inline">
                            @Html.RadioButtonFor(model => model.UserType, 2, new {@onclick = "handleRadioClick1(this);", @class = "form-check-input"}) Doctor <br/>
                            @Html.RadioButtonFor(model => model.UserType, 3, new {@onclick = "handleRadioClick1(this);", @class = "form-check-input"}) Personnel <br/>
                            @Html.RadioButtonFor(model => model.UserType, 1, new {@checked = "checked", @onclick = "handleRadioClick1(this);", @class = "form-check-input"}) Donor <br/>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">First Name*</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.FirstName, new {@required = "required", @class = "form-control"})
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Last Name*</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.LastName, new {@required = "required", @class = "form-control"})
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Email Address*</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.Email, new {@required = "required", @class = "form-control"})
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Password*</label>
                    <div class="col-sm-9">
                        @Html.PasswordFor(model => model.Password, new {@required = "required", @class = "form-control"})
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Confirm Password*</label>
                    <div class="col-sm-9">
                        @Html.PasswordFor(model => model.Password, new {@required = "required", @class = "form-control"})
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Date of Birth*</label>
                    <div class="col-sm-9">
                        @Html.TextBox("DOB", DateTime.Today.ToString("yyyy-MM-dd"), new {@type = "date", @required = "required", @class = "form-control"})
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Address* (as in your ID)</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.Address, new {@required = "required", @class = "form-control"})
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">City* (as in your ID)</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.City, new {@required = "required", @class = "form-control"})
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Country* (as in your ID)</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.Country, new {@required = "required", @class = "form-control"})
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Current Address (if differs from ID)</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.OtherAddress, new {@class = "form-control"})
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Current City (if differs from ID)</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.OtherCity, new {@class = "form-control"})
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Current Country (if differs from ID)</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.OtherCountry, new {@class = "form-control"})
                    </div>
                </div>

                <div class="form-group row" id="hospital" hidden="hidden">
                    <label class="col-sm-3 col-form-label">Hospital</label>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(model => model.Hospital, (List<SelectListItem>) ViewData["hospitals"], new {@class = "form-control"})
                    </div>
                </div>

                <div class="form-group row" id="donor">
                    <label class="col-sm-3 col-form-label">CNP</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.CNP, new {  @class = "form-control" })
                    </div>
                </div>


                <div class="form-group row" id="donationCenter" hidden="hidden">
                    <label class="col-sm-3 col-form-label">Donation Center</label>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(model => model.DonationCenter, (List<SelectListItem>) ViewData["centers"], new {@class = "form-control"})
                    </div>
                </div>

                <input type="submit" value="Submit" class="btn btn-success"/>
            }
        </div>
    </div>
</div>
    
<div class="footer fixed-bottom text-center">
    © 2018 Copyright: Vitamine
</div>

</body>
</html>